{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_title %} Shopping Cart{% endblock %}

{% block page_header %}
<div class="container header-container"></div>
<div class="row"></div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container pb-3">
    <div class="row">
        <div class="col text-center pt-2">
            <h2 class="logo-font">
                Cart
            </h2>
            <hr class="hr-black w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="d-block d-md-none">
                <div class="row py-3">
                    <div class="col-12">
                        {% include "cart/includes/cart-total.html" %}
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-12">
                        {% include "cart/includes/checkout-buttons.html" %}
                        <p class="text-muted my-2 pt-2">A summary of your cart contents is below</p>
                    </div>
                </div>
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "cart/includes/product-image.html" %}
                        </div>
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "cart/includes/product-info.html" %}
                        </div>
                        <div class="col-12 col-sm-6 order-sm-last">
                            <p class="my-0">Price Each: £{{ item.item.price }}</p>
                            <p><strong>Subtotal: </strong>£{{ item.item.price | calc_subtotal:item.quantity }}</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            <form class="form" action="{% url 'adjust_cart' item.item_id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col">
                                        <p class="mt-3"><strong>Quantity:</strong></p>
                                        <div class="form-group w-100">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn btn-black rounded-0" 
                                                        data-item_id="{{ item.id }}" id="decrement-qty_{{ item.id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input class="form-control qty_input" type="number"
                                                name="quantity" value="1" min="1" max="4"
                                                data-item_id="{{ item.id }}"
                                                id="id_qty_{{ item.id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-black rounded-0"
                                                            data-item_id="{{ item.id }}" id="increment-qty_{{ item.id }}">
                                                            <span class="icon">
                                                                <i class="fas fa-plus"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col text-right">
                                        <a href="{% url 'menu' %}" class="btn border-black rounded-0 mt-4">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                        <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-2" value="Add to Cart">
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row"><div class="col"><hr></div></div>
                {% endfor %}
                <div class="btt-button shadow-sm btn-black rounded-0 border-black">
                    <a class="btt-link d-flex h-100">
                        <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
                    </a>	
                </div>
            </div>
            <div class="table-responsive rounded mt-3 d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Item Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in cart_items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% include "cart/includes/product-image.html" %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">{{ item.item.name }}</p>
                            </td>
                            <td class="py-3">
                                <p class="my-0">{{ item.item.price }}</p>
                            </td>
                            <td class="py-3">
                                {% include "cart/includes/quantity-form.html" %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">{{ item.item.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            {% include "cart/includes/cart-total.html" %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            {% include "cart/includes/checkout-buttons.html" %} 
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
                <div class="py-4">
                    <p class="lead mb-5">Your cart is empty</p>
                    <a href="{% url 'menu' %}" class="text-white nav-color btn btn-lg rounded-pill">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Back to the menu</span>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row footer-container"></div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'menu/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // From Boutique ado project

    // Update quantity on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/cart/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}