{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container"></div>
<div class="row"></div>
{% endblock %}

{% block content %}
<div class="container pt-md-2">
    <div class="row py-md-3 px-3">
        <div class="col-12 col-md-7 py-3 my-2 intro-background">
            <div class="text-center pb-2">
                <h2 class="logo-font">
                    Pizza Place
                </h2>
                <hr class="hr-black w-50">
            </div>
            <div class="pb-4">
                <p class="callout">
                    <strong>
                        We are a tiny artisan pizza delivery specialist and when I say tiny I mean it's just me on my own making all these pizzas!  
                        To make sure we are ready for all the orders we have each week we ask that you please book a delivery slot.  We release 
                        our order slots every Wednesday at 12 noon and they have been selling out quickly.  If you have any feedback or there are 
                        any issues with your order please use the contact form at the bottom of the page to get in touch!
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}