{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container"></div>
<div class="row"></div>
{% endblock %}

{% block content %}
<div class="container pt-md-5">
    <div class="row py-md-4 px-3">
        <div class="col-12 col-md-7 py-3 my-2 intro-background">
            <div class="text-center pb-2">
                <h2 class="logo-font">
                    Pizza Place
                </h2>
                <hr class="hr-black w-50">
            </div>
            <div>
                <p>
                    We are a tiny artisan pizza delivery specialist.  To make sure we are ready for all the orders we have each week
                    we ask that you please book a delivery slot.  We release our order slots every Wednesday at 12 noon.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}