{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container"></div>
<div class="row"></div>
{% endblock %}

{% block content %}
<div class="container pt-md-5">
    <div class="row py-md-4 px-3">
        <div class="col-12 col-md-6 py-3 my-2 intro-background">
            <p>
                We are a tiny artisan pizza delivery specialist.  To make sure we are ready for all the orders we have each week
                we ask that you please book a delivery slot.  We release our order slots every Wednesday at 12 noon.  We only 
                have limited availability so you need to move fast to get in!
            </p>
        </div>
        <div class="col-12 col-md-6 py-5 text-center">
            <h4><a href="{% url 'timeslot' %}" class="deals-button text-white nav-color btn btn-lg rounded-pill text-uppercase py-3">
                Book a Time Slot!
            </a></h4>
        </div>
    </div>
</div>
{% endblock %}