{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container"></div>
<div class="row"></div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center pt-2">
            <h2 class="logo-font">
                Site Admin
            </h2>
            <hr class="hr-black w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 py-5 text-left">
            
            <h4 class="py-3">
                <p class="text-muted">Refresh All Timeslots</p>
                <form action="{% url 'timeslot_refresh' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group ">
                        <input type="number" class="form-control w-25 my-auto" id="slot_num" 
                        name="slot_num" aria-describedby="emailHelp" placeholder="0"
                        value="0" min="0" max="10">
                        <small id="slot_num" class="form-text text-muted">This is the number of slots you want to make available for each current timeslot</small>
                      </div>
                    <button type="submit"
                    class="btn btn-black rounded-0">Refresh!</button>
                </form>
            </h4>
            <hr class="my-3">
            <div class="text-center">
                <h4 class="py-3">
                    <a href="{% url 'add_menu_item' %}" class="deals-button text-white nav-color btn btn-lg rounded-pill text-uppercase py-3">
                    Add a new product
                    </a>
                </h4>
                <h4 class="py-3">
                    <a href="{% url 'add_day' %}" class="deals-button text-white nav-color btn btn-lg rounded-pill text-uppercase py-3">
                    Add a Day
                    </a>
                </h4>
                <h4 class="py-3">
                    <a href="{% url 'create_timeslot' %}" class="deals-button text-white nav-color btn btn-lg rounded-pill text-uppercase py-3">
                    Create a new Timeslot
                    </a>
                </h4>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">All Orders</p>
            <form method="GET" action="{% url 'admin' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="order_q" aria-label="search input box" placeholder="Search an order by OrderNumber or Name">
                    <div class="input-group-prepend">
                        <button class="form-control btn btn-black border border-black rounded-0" aria-label="search button" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}"
                                    title="{{ order.order_number }}">
                                        {{ order.order_number|truncatechars:6 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.item.name }} x{{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>£{{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div class="row footer-container"></div>
</div>
{% endblock %}