{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container"></div>
<div class="row"></div>
{% endblock %}

{% block content %}

<div class="container py-5 px-0 h-100">
    <div class="container w-100">
        <div class="row">
            
            {% if total_slots <= 0 %}
                <div class="col-sm-12 col-md-4 offset-md-4 intro-background">
                    <p class="pt-2">
                        <strong>This weeks slots are all sold out unfortunately.  We release our slots every Wednesday at 12 noon so please come back and try again next week!</strong>
                    </p>
                </div>
            {% else %}
                {% for d in days %}
                <div class="col-12 col-md-4 text-center pb-5 intro-background">
                    <div class="row py-2">
                        <div class="col text-uppercase">                  
                        {{ d.name }}
                        {% if request.user.is_superuser %}
                        <div class="row">
                            <div class="col text-center">
                                <small>
                                    <a href="{% url 'edit_day' d.id %}">Edit</a>
                                    <a class="text-danger" href="{% url 'delete_day' d.id %}#">Delete</a>
                                </small>
                            </div>
                        </div>
                        {% endif %}
                        </div>                        
                        <hr class="w-100 border-black">
                    </div>
                    {% for s in slots %}                
                        {% if d == s.day %}
                            <div class="row pt-2">
                                <div class="col text-center py-1">
                                    <form class="form" action="{% url 'book_a_slot' s.id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col">
                                                <input type="submit" 
                                                class="text-white nav-color btn btn-lg rounded-pill"
                                                value="{{ s.start_time }} - {{ s.end_time }}" 
                                                {% if s.available_slots < 1 %} disabled {% endif %}>
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </div>
                                    </form>
                                    {% if request.user.is_superuser %}
                                        <small> {{ s.available_slots }} available</small>
                                        <small class="ml-3">
                                            <a href="{% url 'edit_timeslot' s.id %}">Edit</a>
                                            <a class="text-danger" href="{% url 'delete_timeslot' s.id %}">Delete</a>
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
