html {
    height: 100%;
}


body {
    background: url('/media/rsz_1pizza-slice-pattern.png') repeat center center fixed;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

hr {
    border: 1px solid #FFF;
}

.nav-color {
    background-color: #000;
}

.navbar-toggler {
    background-color: #000;
    border-color: #FFF;
    border-width: 1px;
}

.nav-menu-or-footer-link:hover {
    text-decoration: none;
    background: #222;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.main-logo-link {
    width: fit-content;
}

.btn-black {
    background: #000;
    color: #FFF;
}

.text-white {
    color: #FFF;
}

.border-black {
    border: 1px solid black;
}

.deals-button:hover,
.deals-button:active,
.deals-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: #f5f5f5;
}

