<div class="row w-100 mx-auto px-1">
    <div class="col-3 nav-menu-or-footer-link text-center">
        <a class="nav-menu-or-footer-link text-white" href="">
            <h5>Pizza</h5>
        </a>
    </div>
    <div class="col-3 nav-menu-or-footer-link text-center">
        <a class="nav-menu-or-footer-link text-white" href="">
            <h5>Sides</h5>
        </a>
    </div>
    <div class="col-3 nav-menu-or-footer-link text-center">
        <a class="nav-menu-or-footer-link text-white" href="">
            <h5>Sweets</h5>
        </a>
    </div>
    <div class="col-3 nav-menu-or-footer-link text-center">
        <a class="nav-menu-or-footer-link text-white" href="">
            <h5>Drinks</h5>
        </a>
    </div>
</div>