<div class="row w-100 mx-auto py-2 px-1">
    <div class="col-3 py-1 nav-menu-or-footer-link text-center">
        <a class="nav-menu-or-footer-link text-white" href="">
            <h6>Pizza</h6>
        </a>
    </div>
    <div class="col-3 py-1 nav-menu-or-footer-link text-center">
        <a class="nav-menu-or-footer-link text-white" href="">
            <h6>Sides</h6>
        </a>
    </div>
    <div class="col-3 py-1 nav-menu-or-footer-link text-center">
        <a class="nav-menu-or-footer-link text-white" href="">
            <h6>Sweets</h6>
        </a>
    </div>
    <div class="col-3 py-1 nav-menu-or-footer-link text-center">
        <a class="nav-menu-or-footer-link text-white" href="">
            <h6>Drinks</h6>
        </a>
    </div>
</div>