<div class="row w-100 mx-auto">
    <div class="col-3 text-center">
        <a class="btn-black text-white" href="">
            <h5>Pizza</h5>
        </a>
    </div>
    <div class="col-3 text-center">
        <a class="btn-black text-white" href="">
            <h5>Sides</h5>
        </a>
    </div>
    <div class="col-3 text-center">
        <a class="btn-black text-white" href="">
            <h5>Sweets</h5>
        </a>
    </div>
    <div class="col-3 text-center">
        <a class="btn-black text-white" href="">
            <h5>Drinks</h5>
        </a>
    </div>
</div>