  
{% extends "base.html" %}

{% block content %}
    <div class="container header-container"></div>
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
              <div class="col-12 col-md-7">
                  <div class="allauth-form-inner-content">
                      {% block inner_content %}
                      {% endblock %}
                  </div>
              </div>
          </div>
        </div>
    <div class="row footer-container mt-5"></div>
{% endblock %}